@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: OpenSans;
}

main {
    display: grid;
    grid-template-areas:
    "aside1 section section aside2"
    "aside1 section section aside2";
}
ul {
    list-style-type: none;
}
body ul li a{
        cursor: pointer;
}
header ul li:hover {
    background-color: darkgray;
}
a {
    text-decoration: none;
    color: black;
}
header h1{
    padding: 20px 1%;
    background-color: rgb(231, 231, 231);;
}
header nav ul{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid gray;
    background-color: lightgray;
}
header nav ul li {
    border: 1px solid gray;
    padding: 10px 10%;
    text-align: center;
}
main {
    border: 1px solid gray;
}
main section{
    border: 1px solid gray;
    padding: 10px;
    grid-area: section;
}
main section p {
    padding: 10px 0;
}
main aside {
    padding: 10px;
}
main aside p {
    padding: 10px 0; 
}
main .aside1 {
    grid-area: aside1;
}
main .aside2 {    
    grid-area: aside2;
}
main aside ul li{
    padding: 3px 0;
}
main aside ul li:first-child {
    font-weight: bold;
}
footer {
    text-align: center;
    background-color: rgb(228, 228, 228);
    border: 1px solid gray;
    padding: 10px 0 30px;
}
